.page {
    position: fixed;
    right: 30vw;
    top: 0;
    z-index: 100;
}

@keyframes delay-tv {
    0% {
        opacity: 1;
        max-height: 90px;
    }
    66% {
        opacity: 1;
        max-height: 90px;
    }
    80% {
        opacity: 0.5;
        max-height: 90px;
    }
    100% {
        opacity: 0;
        max-height: 0;
    }
}

.main {
    animation: delay-tv 9s linear;
    max-height: 0;
    overflow: hidden;
}

.view {
    padding-top: 9px;
    line-height: 51px;
    display: flex;
    justify-content: flex-end;
}

.text {
    opacity: 0.95;
    padding: 0 18px;
    border-radius: 5px;
    overflow: hidden;
    color: #fff;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.textSuccess {
    composes: text;
    background: #507f09;
}

.textError {
    composes: text;
    background: #ee2121;
}

.icon {
    font-size: 24px;
    padding-right: 9px;
}

.iconSuccess {
    composes: success from '../../assets/icon/icon.module.css';
    composes: icon;
}

.iconError {
    composes: error from '../../assets/icon/icon.module.css';
    composes: icon;
}