.page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

@keyframes rotate-tv {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.svg {
    width: 90px;
    height: 90px;
    animation: rotate-tv 2.4s linear infinite;
}

@keyframes dash-tv {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
        stroke-opacity: 0.3;
    }
    50% {
        stroke-dasharray: 130, 200;
        stroke-dashoffset: -50;
        stroke-opacity: 0.9;
    }
    100% {
        stroke-dasharray: 130, 200;
        stroke-dashoffset: -188;
        stroke-opacity: 0.6;
    }
}

.circle {
    stroke: #a9cc09;
    stroke-width: 6;
    fill: none;
    animation: dash-tv 1.8s linear infinite;
}