
.expand {
  composes: iconfont icon-expand;
}

.collect {
  composes: iconfont icon-collect;
}

.error {
  composes: iconfont icon-error;
}

.success {
  composes: iconfont icon-success;
}

.sport {
  composes: iconfont icon-sport;
}

.unit {
  composes: iconfont icon-unit;
}

.up {
  composes: iconfont icon-up;
}

.down {
  composes: iconfont icon-down;
}

.left {
  composes: iconfont icon-left;
}

.right {
  composes: iconfont icon-right;
}

.search {
  composes: iconfont icon-search;
}

.category {
  composes: iconfont icon-category;
}

.clock {
  composes: iconfont icon-clock;
}

.bill {
  composes: iconfont icon-bill;
}

.rmb {
  composes: iconfont icon-rmb;
}