@font-face {
  font-family: "iconfont"; /* Project id 3180049 */
  src: url('iconfont.woff2?t=1646837228786') format('woff2'),
       url('iconfont.woff?t=1646837228786') format('woff'),
       url('iconfont.ttf?t=1646837228786') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-copyright:before {
  content: "\e632";
}

.icon-collapse:before {
  content: "\e680";
}

.icon-expand:before {
  content: "\e681";
}

.icon-collect:before {
  content: "\e61e";
}

.icon-error:before {
  content: "\e69d";
}

.icon-success:before {
  content: "\e6b3";
}

.icon-unit:before {
  content: "\e649";
}

.icon-sport:before {
  content: "\e65d";
}

.icon-up:before {
  content: "\ea19";
}

.icon-down:before {
  content: "\e61a";
}

.icon-right:before {
  content: "\ea1a";
}

.icon-left:before {
  content: "\ea1b";
}

.icon-search:before {
  content: "\e67d";
}

.icon-category:before {
  content: "\e627";
}

.icon-clock:before {
  content: "\e602";
}

.icon-bill:before {
  content: "\e695";
}

.icon-rmb:before {
  content: "\e6b0";
}

